<!--footer start-->
<footer class="footer">
    <div class="wrapper">
        <div class="footer__wrapper">
            <div class="footer__content">
                <div class="footer__start">

                    <div class="footer__logo">
                        <h5>Наші послуги</h5>
                        <img src="./assets/images/footer/logo.svg" alt="logo">
                    </div>

                    <nav class="footer__nav">
                        <ul class="footer__nav--list">
                            <li class="footer__nav--item">
                                <a href="./services.html">Управління репутацією</a>
                            </li>
                            <li class="footer__nav--item">
                                <a href="./socials.html">Соціальні мережі</a>
                            </li>
                            <li class="footer__nav--item">
                                <a href="./development.html">Створення сайтів і додатків</a>
                            </li>
                            <li class="footer__nav--item">
                                <a href="./publication.html">Розміщення в ЗМІ та робота з ЛОМами</a>
                            </li>
                        </ul>

                        <ul class="footer__nav--list">
                            <li class="footer__nav--item">
                                <a href="../index.html">Головна</a>
                            </li>
                            <li class="footer__nav--item">
                                <a href="#case" class="js-scroll">Кейси</a>
                            </li>
                            <li class="footer__nav--item">
                                <a href="#feedback" class="js-scroll">Відгуки</a>
                            </li>
                            <li class="footer__nav--item">
                                <a href="#contacts" class="js-scroll">Зв'язатися з нами</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="footer__socials">
                        <a href="#!">
                            <img src="./assets/images/footer/mail.svg" alt="email">
                        </a>
                        <a href="#!">
                            <img src="./assets/images/footer/facebook.svg" alt="facebook">
                        </a>
                        <a href="#!">
                            <img src="./assets/images/footer/instagram.svg" alt="instagram">
                        </a>
                    </div>
                </div>

                <div class="footer__end">
                    <div class="footer__img">
                        <img src="./assets/images/footer/market.svg" alt="logo">
                    </div>
                    <div class="footer__end--items">
                        <h5>Політика конфіденційності</h5>
                        <h5>Умови користування</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
<!--footer end-->