<!--header start-->
<header class="header">
    <div class="wrapper">
        <div class="header__content">

            <div class="header__logo">
                <img src="../assets/images/header/logo.svg" alt="5+1Media">
            </div>

            <div class="header__nav">

                <div class="header__phone">
                    <a href="tel:+380999999999" class="phone">+38(099) 999 99 99</a>
                </div>

                <div class="header__menu">
                    <h4>Меню</h4>
                    <div class="burger">
                        <span class="burger__line"></span>
                        <span class="burger__line"></span>
                        <span class="burger__line"></span>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <section class="header-menu">
        <div class="header-menu__wrapper">
            <div class="header-menu__content">

                <div class="header-menu__cross">
                    <div class="cross">
                        <span class="cross__line"></span>
                        <span class="cross__line"></span>
                    </div>
                </div>

                <nav class="header-menu__nav">

                    <ul class="header-menu__list">
                        <li class="header-menu__item">
                            <a href="../index.html" class="header-menu__link">Головна</a>
                        </li>
                        <li class="header-menu__item">
                            <a href="#case" class="header-menu__link js-scroll">Кейси</a>
                        </li>
                        <li class="header-menu__item">
                            <a href="#feedback" class="header-menu__link js-scroll">Відгуки</a>
                        </li>
                        <li class="header-menu__item">
                            <a href="#contacts" class="header-menu__link js-scroll">Зв'язатися з нами</a>
                        </li>
                    </ul>

                    <ul class="header-menu__list">
                        <h5>Наші послуги</h5>
                        <li class="header-menu__item">
                            <a href="../services.html" class="header-menu__link">Управління репутацією</a>
                        </li>
                        <li class="header-menu__item">
                            <a href="../socials.html" class="header-menu__link">Соціальні мережі</a>
                        </li>
                        <li class="header-menu__item">
                            <a href="../development.html" class="header-menu__link">Розробка сайтів та додатку</a>
                        </li>
                        <li class="header-menu__item">
                            <a href="../publication.html" class="header-menu__link">Публікація в ЗМІ і робота з ЛОМами</a>
                        </li>
                    </ul>

                </nav>
            </div>
        </div>
    </section>
</header>
<!--header end-->